<div class="container">
  <div class="row">
    <div class="span12">
      <p class="lead">Bare minimum radio button tabs example:</p>

      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-primary active">
          <input type="radio" name="options" id="option1" autocomplete="off" checked> Boots
        </label>
        <label class="btn btn-primary">
          <input type="radio" name="options" id="option2" autocomplete="off"> Shoes
        </label>
        <label class="btn btn-primary">
          <input type="radio" name="options" id="option3" autocomplete="off"> Feet
        </label>
      </div>

    </div>
  </div>
  <div class="row">
    <ins-grph></ins-grph>
  </div>
</div>